<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/tablestyle.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory </title>
</head>
<body>
    <h1> <u>Games, Developers and Genres </u> </h1>
    <div id = "anchor">
        <a href="/"> Click to go back to Menu </a>
    </div>
    


    <div id = "tablediv">
        <table style="width:80%" >

            <tr id = "tableheading">
                <td> ID </td>
                <td> Game </td>
                <td> Developer </td>
                <td> Genre </td>
                <td> Edit </td>
                <td> Delete </td>
            </tr>

            <% content.forEach((e) => { %>

                <tr> 
                    <td class="cellidstyle" > <%= e.id %> </td>
                    <td class="cellstyle" > <%= e.game %> </td>
                    <td class="cellstyle" > <%= e.developer %></td>
                    <td class="cellstyle" > <%= e.genre %> </td>
                    <td class="cellbuttondiv" > <button class="cellbutton" onclick="editfn('<%= e.id %>')">Edit</button></td>
                    <td class="cellbuttondiv" > <button class="cellbutton" onclick="deletefn('<%= e.id %>')" > Delete </button></td>
                </tr>
            <% }) %>
        </table>
    </div>
    <div class="footer" >
        <a target="_blank" href="https://stephencwinter.com/2021/10/23/speak-friend-and-enter-gandalf-tries-to-enter-moria-by-the-western-gate-but-is-thwarted-by-his-own-cleverness/"> secret password access hint :) </a>
    </div>

<script>

    const editfn = (ID) =>{
        console.log(ID, "yay");

        const formDiv = document.createElement("div");
        formDiv.classList.add("formDiv");

        const form = document.createElement("form");
        form.classList.add('editForm');
        form.setAttribute("method", "GET");
        form.setAttribute("action","/editgame" );

        const hiddenID = document.createElement("input");
        hiddenID.setAttribute("type","hidden");
        hiddenID.value = ID;
        hiddenID.setAttribute("name", "id");

        const gamelabel = document.createElement("label");
        gamelabel.textContent = "Game : ";
        const gamefield = document.createElement('input');
        gamefield.setAttribute("name", "gameName")
        gamefield.setAttribute("type", "text");
        gamefield.required = true;

        const devlabel = document.createElement('label');
        devlabel.textContent = "Developer : ";
        const devfield = document.createElement("input");
        devfield.setAttribute("name", "devName")
        devfield.setAttribute("type", "text");
        devfield.required = true;
        
        const genrelabel = document.createElement("label");
        genrelabel.textContent = "Genre: ";
        const genrefield = document.createElement("input");
        genrefield.setAttribute("name", "genreName")
        genrefield.setAttribute("type", "text");
        genrefield.required = true;

        const submitBtn = document.createElement("button");
        submitBtn.textContent = "Submit"
        submitBtn.setAttribute("type", "submit");

        form.append(hiddenID, gamefield,devlabel,devfield,genrelabel, genrefield, submitBtn);
        form.addEventListener("submit", (event)=>{
            event.preventDefault();
            const p = prompt("Speak Friend and Enter: ");
            if ( p === "mellon" || p === "Mellon" || p === "MELLON"){
                form.submit();
            }
            else{
                formDiv.classList.remove("formDiv");
                form.classList.remove("editForm");
                formDiv.classList.add("hidden");
                form.classList.add("hidden");
            }
        })

        formDiv.append(form);
        document.body.append(formDiv);
    }

    const deletefn = (ID) => {
        const choice = confirm("Are you sure you want to delete this game?");
        if ( choice ){ 
            console.log("welcome welcome");
            fetch("/delete",{
                method : "POST",
                body: JSON.stringify({id : ID }),
                headers:{
                    'Content-Type' : 'application/json'
                }
            }).then(()=>{
                location.reload();
            }
            )
        }
    }
</script>
    
</body>
</html>